<h1>Welcome </h1>

<%= link_to "Sign in" ,  new_user_session_path %> | <%= link_to "Sign up" ,  new_user_registration_path %>

<br>
<br>
<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/Pakistan?key=AIzaSyCp-LDWgc49sQSbmxw6ypQVxS0xYYM13eA
    &q=Space+Needle,Seattle+WA">
</iframe>